SOURCE_POSTGRES_HOST=localhost
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_DB=source
SOURCE_POSTGRES_USER=source_user
SOURCE_POSTGRES_PASSWORD=source_password

LAKE_CATALOG_POSTGRES_HOST=localhost
LAKE_CATALOG_POSTGRES_PORT=5433
LAKE_CATALOG_POSTGRES_DB=lake_catalog
LAKE_CATALOG_POSTGRES_USER=lake_user
LAKE_CATALOG_POSTGRES_PASSWORD=lake_password
